# Lists

In [1]:
users = ['zeeshan' , 'zeeshan@gmail.com' , 23 , "03236517781"]
print(users)

['zeeshan', 'zeeshan@gmail.com', 23, '03236517781']

## Printing a List

In [4]:
for items in users :
    print(items)

zeeshan
zeeshan@gmail.com
23
03236517781

In [6]:
len(users)
for i in range(len(users)):
    print(users[i])

zeeshan
zeeshan@gmail.com
23
03236517781

In [ ]:
ages = [22, 45, 2, 12 , 90]
# Get maximum and minimum from list
max(ages)
min(ages)
# Sum of list
sum(ages)
# sorting list Ascending
ages.sort()
ages
# Sorting list Descending
ages.sort(reverse=True)
ages

[90, 45, 22, 12, 2]

### Check if the number exists in list or not

In [14]:
age = input("Enter Number To Check in list")

if age in ages:
    print("You are Registered")
else:
    print("Your are not Registered")

Your are not Registered

### Segregatting Duplicate values in list

In [19]:
age = [23,56,23,98,32,56,23]
unique = []
for a in range(len(age)):
    if age[a] not in unique:
        unique.append(age[a])

print(unique, age)

[23, 56, 98, 32] [23, 56, 23, 98, 32, 56, 23]

### Merging two lists

In [21]:
age_one = [23,45,98,29]
age_b = [12,45,12,78,23,56]
age_c = age_one+age_b
age_c

[23, 45, 98, 29, 12, 45, 12, 78, 23, 56]

### Adding / Multiplying Two Lists

In [27]:
list_a = [23,45,98,29,30,35]
list_b = [12,45,12,78,23,56]
sum = []
for x,y in zip(list_a,list_b):
    sum.append(x+y)
sum
# Using Comprehension
mul = [x*y for x,y in zip(list_a,list_b)]
print(mul , sum)

[276, 2025, 1176, 2262, 690, 1960] [35, 90, 110, 107, 53, 91]

### Printing only even numbers from list

In [ ]:
even = []
for x in list_a:
    if x%2 == 0:
        print (x)
        even.append(x)
        
# Printing only even numbers in list using comprehensive method

even = [x  for x in list_a if x%2 == 0]
print(even)

98
30
[98, 30]

### Find Second Largest Number

In [36]:
list_a
list_a.sort(reverse=True)
list_a
list_a[1]

45

### Separate ODD and EVEN numbers

In [37]:
mix_list = [12, 7, 25, 40, 33, 18, 9, 56, 21, 44, 67, 82, 91, 36, 73]

even = [x for x in mix_list if x%2 == 0]
odd = [x for x in mix_list if x%2 != 0]
print(f"Mix List {mix_list} \n Even Numbers List {even} \n Odd Number list {odd}")

Mix List [12, 7, 25, 40, 33, 18, 9, 56, 21, 44, 67, 82, 91, 36, 73]
 Even Numbers List [12, 40, 18, 56, 44, 82, 36]
 Odd Number list [7, 25, 33, 9, 21, 67, 91, 73]

### Square and Cubes of list

In [39]:
squares = [x*x for x in mix_list]
squares
cubes = [x*x*x for x in mix_list]
cubes

[1728,
 343,
 15625,
 64000,
 35937,
 5832,
 729,
 175616,
 9261,
 85184,
 300763,
 551368,
 753571,
 46656,
 389017]

### Segregating prime numbers

In [64]:
a = [12,34,35,34,12]
b =[]
for i in range(len(a)):
    print(-i-1)
    b.append(a[-i -1])
if a == b:
    print("Palindorme")
else:
    print("Not PAlindorm")
print(b)

-1
-2
-3
-4
-5
Palindorme
[12, 34, 35, 34, 12]