## Random Forest Regressor for Imutation
1 . Carryout Label Encoding  
2 . Spit data in two parts  
        (2a) data having only null values  
        (2b) data without null values

In [10]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, root_mean_squared_error, mean_absolute_error, mean_squared_error


df = sns.load_dataset('titanic')
df.head()
# Encoding of Features
cols = {"sex" , "class" , "who" , "embarked" , "embark_town","deck" , "alive" , "adult_male" , "alone"}
le = LabelEncoder()
for c in cols:
    df[c] = le.fit_transform(df[c])
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,1,7,2,0,0
1,1,1,0,38.0,1,0,71.2833,0,0,2,0,2,0,1,0
2,1,3,0,26.0,0,0,7.9250,2,2,2,0,7,2,1,1
3,1,1,0,35.0,1,0,53.1000,2,0,2,0,2,2,1,0
4,0,3,1,35.0,0,0,8.0500,2,2,1,1,7,2,0,1

In [11]:
df_null = df[df['age'].isna()]
# df_null.head()
df_not_null = df.dropna()
df_not_null.shape

(714, 15)

In [26]:
X = df_not_null.drop(['age'], axis=1)
y = df_not_null['age']

X_train, X_test , y_train, y_test = train_test_split(X,y, test_size=0.2 , random_state=42)

print(X_train.shape, y_train.shape)

X_train.dtypes
rfr = RandomForestRegressor(n_estimators=100 , random_state=42)
rfr.fit(X_train , y_train)
y_predict = rfr.predict(X_test)
print("Mean squared error = " , mean_squared_error(y_test, y_predict))
print("Root Mean squared error = " , np.sqrt(mean_squared_error(y_test, y_predict)))
print("R2 Error =", r2_score(y_test,y_predict))
print("Mean Absolute Error =", mean_absolute_error(y_test, y_predict))

(571, 14) (571,)
Mean squared error =  126.83477227267065
Root Mean squared error =  11.262094488711709
R2 Error = 0.31590130214080725
Mean Absolute Error = 8.745760723171687